* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    position: relative;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    background-position: 50% 40%;
}


nav {
    height: 10vh;
    width: 100%;
    background-color: rgba(20, 33, 61, 0.0);
    position: relative;
}

header {
    width: 100%;
    position: absolute;
}

.headText {
    margin-left: 3rem;
    margin-top: 3rem;
    color: white;
    position: absolute;
    left: 20px;
    transform: translate(10px, -50%);
    transition: 1000ms linear;
    font-weight: 100;
}

.headText:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .headText:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
.headText a{
    color: white;
    text-decoration: none;
}
.headText a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.navlinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
    list-style: none;
    height: 100%;
    width: 25%;
    margin-left: auto;
    cursor: pointer;
}

.navlinks a {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navlinks a:hover {
    background-color: white;
    color:tomato;
    
}

.links {
    text-decoration: none ;
    color: white;
    font-size: 1rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.first-heading {
    font-size: 3em;
}

.first-subtext {
    margin: 1em;
    font-weight: 400;
}

#donate {
    font-size: 16px;
    padding: 16px;
    margin: 12px;
    margin-top: 15px;
    background-color: #36bcdd;
    border: none;
    text-decoration: none ;
    font-weight: bold;
    color: black;
    transition: 300ms linear;
}

#donate:hover {
    transform: translate(0, -5px, 0);
    background-color: rgba(200, 100, 17);
    transition: 300ms ease-out;
}

